<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home/style.css">
    <link rel="stylesheet" href="../static/css/home/responsive.css">

    <title>Daftar Tugas - Pemrograman Web</title>
</head>
<body>
    <h1>DAFTAR TUGAS</h1>

    <section class="container">
        <div class="card">
            <a href="/tugas-1">
                <img class='card-img' src="../static/images/tugas-1.png" alt="">
                <p class="desc-card">1. PENGENALAN HTML</p>
            </a>
        </div>
        <div class="card">
            <a href="/tugas-2">
                <img class="card-img" src="../static/images/tugas-2.png" alt="">
                <p class="desc-card">2. CSS RESPONSIVE</p>
            </a>
        </div>
        <div class="card">
            <a href="/tugas-3">
                <img class="card-img" src="../static/images/tugas-3.png" alt="">
                <p class="desc-card">3. PEMBUATAN FORM</p>
            </a>
        </div>
    </section>
</body>
</html>