<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pemrograman Web - Struktur Dasar HTML</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <!-- HEADING SECTION -->
    <div style="margin: 10px, 0;">
        <h1>UNIVERSITAS DAYANU IKHSANUDDIN</h1>
        <h2>BAUBAU</h2>
    </div>

    <!-- NAME SECTION -->
    
    <div style="margin-bottom: 20px">
        <div>Nama: <span style="font-weight: bolder; margin-left: 10px;">Aan Bahudin</span></div>
        <div>Alamat: <span style="font-weight: bolder; margin-left: 10px;">Jln. Gatot Subroto Palatiga</span></div>
    </div>

    <!-- TABLE SECTION -->
    <table style="border-collapse: collapse; border: 1px solid black; margin-bottom: 20px">
        <tr style="border-collapse: collapse; border: 1px solid black;">
            <th style="border-collapse: collapse; border: 1px solid black;">Nama Mahasiswa</th>
            <th style="border-collapse: collapse; border: 1px solid black;">NIM</th>
            <th style="border-collapse: collapse; border: 1px solid black;">NO HP</th>
        </tr>
        
        <tr>
            <td style="border-collapse: collapse; border: 1px solid black;">Budi</td>
            <td style="border-collapse: collapse; border: 1px solid black;">12345</td>
            <td style="border-collapse: collapse; border: 1px solid black;">08123459843</td>
        </tr>

        <tr>
            <td style="border-collapse: collapse; border: 1px solid black;">Ani</td>
            <td style="border-collapse: collapse; border: 1px solid black;">12345</td>
            <td style="border-collapse: collapse; border: 1px solid black;">08123459843</td>
        </tr>
    </table>

    <!-- IMAGE SECTION -->
    <img src="../static/images/photo.png"  height="300" />

    <!-- LIST BERATURAN SECTION -->
    <p>Materi hari ini</p>
    <ol>
        <li>Pengenalan HTML</li>
        <li>Elemen HTML</li>
        <li>Tag dan Atrribut HTML</li>
    </ol>

    <!-- LINK SECION -->
    <p>Link</p>
    <ul>
        <li><a style="text-decoration: none; color: black;" href="https://www.google.com/" target="_blank">Google</a></li>
        <li><a style="text-decoration: none; color: black;" href="https://www.facebook.com/" target="_blank">Facebook</a></li>
    </ul>
</body>
</html>