<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/tugas_2/style.css">
    <link rel="stylesheet" href="../static/css/tugas_2/responsive.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pemrograman Web - Responsive CSS</title>
</head>
<body>
    <section class="wrapper">

        <div class="name-card">
            <img src="../static/images/photo.png" alt="">

            <div class="card-desc">
                <main>
                    <h2>Aan Bahudin</h2>
                    <p>Teknik Informatika</p>
                </main>
                
                <button>FOLLOW</button>
            </div>
        </div>

    </section>

    <section class="card-wrapper">
        <main>
            <div class="card">
                <h1>BUKU SATU</h1>
                <P>Teknik Informatika</P>
                <button>Lihat</button>
            </div>

            <div class="card">
                <h1>BUKU SATU</h1>
                <P>Teknik Informatika</P>
                <button>Lihat</button>
            </div>

            <div class="card">
                <h1>BUKU SATU</h1>
                <P>Teknik Informatika</P>
                <button>Lihat</button>
            </div>

            <div class="card">
                <h1>BUKU SATU</h1>
                <P>Teknik Informatika</P>
                <button>Lihat</button>
            </div>

            <div class="card">
                <h1>BUKU SATU</h1>
                <P>Teknik Informatika</P>
                <button>Lihat</button>
            </div>

            <div class="card">
                <h1>BUKU SATU</h1>
                <P>Teknik Informatika</P>
                <button>Lihat</button>
            </div>
        </main>
    </section>
</body>
</html>